body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
    margin: 0;
    padding: 0;
}

header{
    background-color: #93c4f4;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1{
    margin:0;
    font-size: 40px;
}

header p{
    margin:0;
    font-size:20px;
}

nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #93c4f4;
    padding: 15px;
    margin:0;
}

nav ul a{
    color:#f4f4f4;
    text-decoration: none;
    front-weight: bolder;
}

nav ul li a:hover{
    color:#1abc9c;
}

section{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color:white;
}

section h2{
    color:black;
}

section ul li{
    margin:8px 0;
}

footer{
    text-align:center;
    padding:15px;
    background-color:rgb(60, 210, 30);
    color:black;
    margin-top:30px;
}